@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree", sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
.about-section{
    display: flex;
    background-size: 100%;
    background-color: #ffb0b0;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    border-radius: 20px;
    background-color: #ffb0b0;
    padding: 100px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 1500;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 75%;
  margin: auto;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  background-color: #f1f7f5;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: #f8d0d0;
  overflow: hidden;
  background-color: #f8d0d0;
  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.faq.active {
  border: none;
}
.dv1{
    background-color: #f8d0d0;
}

footer {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #4c45aa, #060039);
    color: #fff;
    padding: 10px 0 10px;
    border-top-left-radius: 125px;
    font-size: 13px;
}
.f1{
    background-color: #f8d0d0;
}
.p1{
    margin-top: 40px;
    font-size: 15px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col1 {
    flex-basis: 25%;
    padding: 10px;
    font-size: 20px;
}
.col2 {
    flex-basis: 25%;
    padding: 10px;
    font-size: 20px;
}
.col3 {
    flex-basis: 25%;
    padding: 10px;
    font-size: 20px;
}

.logo1 {
    width: 200px;
    
}

.col3 h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.col2 h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

ul li {
    list-style: none;
    margin-bottom: 5px;
    
}

ul-li a {
    text-decoration: none;
    color: #ed4006;
    
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 30px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0px;
    left: 10px;
    animation: moving 2s linear infinite;
}

/* Use #7DCFB6 for some elements */
.highlight {
    color: #7DCFB6;
    border-color: #7DCFB6;
    background-color: #fff;
    font-size: 18px;
}

@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #F5EEE6;
}
.c1{
    background-color: #f8d0d0;


}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/bg2.PNG);
    background-size: cover;
    background-position: center;

}
.container{
    padding:10px 10% ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 70px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #172774;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
.profile{
    width: 70px;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #F5EEE6;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    color: #512C6F;
    margin-top: 9%;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #F5EEE6;
}

/* small screen */

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/bg_phone.PNG);
    }
    .header-text{
        margin-top: 10%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }

}